body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#111827;
color:white;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:10px;
cursor:pointer;
}

.sidebar li:hover{
background:#374151;
}

.content{
flex:1;
padding:30px;
overflow:auto;
}

.page{
display:none;
}

.active{
display:block;
}

.cards{
display:flex;
gap:20px;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.bigNumber{
font-size:50px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
}

th{
background:#1f2937;
color:white;
}
